@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 50;
  src: url("./fonts/NanumBarunGothic.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothicBold";
  font-weight: 50;
  src: url("./fonts/NanumBarunGothicBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothicLight";
  font-weight: 50;
  src: url("./fonts/NanumBarunGothicLight.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothicUltraLight";
  font-weight: 50;
  src: url("./fonts/NanumBarunGothicUltraLight.ttf") format("truetype");
}
* {
  font-family: "NanumBarunGothic";
}
input:focus {
  outline: none;
}
